<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search History</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>My Search History</h1>
      <ul class="list-group">
        {% for search in user_searches %}
        <li class="list-group-item">
          <strong>{{ search.city }}</strong>
          - Searched on {{ search.timestamp|date:"F j, Y" }}<br />
          Temperature: {{ search.weather_data.temperature }}°C<br />
          Description: {{ search.weather_data.description }}<br /><br />
        </li>
        {% empty %}
        <li class="list-group-item">No search history available.</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9FVbTPjKk0UhdccVcmF1rXx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
